<ion-view title="Attenadance" class="attendance">
    <ion-content overflow-scroll="true" padding="true" class="has-header">

        <ionic-datepicker date="currentDate" min="" max="" callback="datePickerCallback">
            <button class="button button-block button-assertive button-outline">
                {{ currentDate | date:'MMMM/dd/yyyy' }}
            </button>
        </ionic-datepicker>
        
        <h1>Group : {{selectedGroupName}}</h1>
        
        <ion-list can-swipe="isViewStudentDetailsAllowed()">
        	<ion-item ng-repeat="student in students" type="item-text-wrap" class="item {{student.Color}}" ng-click="toggleChkBox(student)">
        		<div  ng-model="student.Color">
                    <input type="checkbox" ng-model="student.Selected" style="display:none">
                    {{student.name}}
        		</div>
                <ion-option-button class="button-dark" ng-click="showStudentDetails(student)" style="min-height:auto; font-size:13px">
                    Details
                </ion-option-button>
        	</ion-item>
        </ion-list>
     
    </ion-content>

    <ion-footer-bar align-title="center" class="bar-light bar bar-footer" ng-click="markAttenadance()" style="padding:0">
        <button class="button button-full button-royal">Save Attendance</button>
    </ion-footer-bar>

    <script type="text/ng-template" id="/tpl.html">
        <div class="list">
            <div class="item">Name : <b>{{name}}</b></div>
            <div class="item">Subscription End : <b>{{doe}}</b></div>
            <div class="item">Father's Name : <b>{{father}}</b></div>
            <div class="item">Mother's Name : <b>{{mother}}</b></div>
        </div>
   </script>
</ion-view>
