<ion-view title="Your Groups">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list"></form>
        <button class="button button-stable button-outline button-block ">Select Group</button>
        <ion-list>
            <ion-item ui-sref="menu.markAttenadance">Vaishali</ion-item>
            <ion-item ui-sref="menu.markAttenadance">Avantika</ion-item>
            <ion-item ui-sref="menu.markAttenadance">Kaushambi</ion-item>
        </ion-list>
    </ion-content>
</ion-view>